/* AboutUs.css */
.about{
    text-align: center;
    padding: 40px;
    margin-bottom: 20em;
  }
  
  .about h2 {
    font-size: 5rem;
  }
  
  .about p {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
  /* About.css */
.video-wrapper {
  width: 800px; /* Set the desired width for the video and image container */
  height: auto; /* Set the height as 'auto' for maintaining aspect ratio */
  position: relative; /* Allows for positioning the image over the video */
}

.video {
  width: 100%; /* Video takes up 100% width of the container */
  height: auto; /* Set the height as 'auto' for maintaining aspect ratio */
}

.video-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set the image to take up 100% of the container */
  height: auto; /* Set the height as 'auto' for maintaining aspect ratio */
}
