/* AboutUs.css */
.about{
    text-align: center;
    padding: 40px;
    margin-bottom: 20em;
  }
  
  .about h2 {
    font-size: 2rem;
  }
  
  .about p {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  