.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navBar-links {
 margin:0;
 padding:0;
 list-style: none;
}

.navBar-links li{
  margin-bottom: 0;
  
}

.home-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.home-icon img {
  width: 50px; /* Adjust the width to your desired size */
  height: 50px; /* Adjust the height to your desired size */
}



/* Style the anchor links (change the colors as needed) */
.navBar-links li a {
  color: black; /* Change the text color to your desired color */
  text-decoration: none; /* Remove underline */
  transition: color 0.2s; 
  text-decoration: underline;/* Add a color transition effect */
}

/* Change the link color on hover */
.navBar-links li a:hover {
  color: red; /* Change the text color on hover to your desired color */
}

/* App.css or a dedicated CSS file for navigation styles */
.navbar ul {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove any default padding */
  margin: 0; /* Remove any default margin */
}

.navbar li {
  display: inline; /* Display list items inline to create a horizontal navigation */
  margin-right: 20px; /* Add some spacing between navigation items if needed */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css or a dedicated CSS file for footer styles */
footer {
  background-color: #333; /* Set a background color for the footer */
  color: #fff; /* Text color for the footer */
  padding: 10px; /* Add padding for spacing */
  text-align: center; /* Center align the content */
  margin-top: 20em;
}

